<div class="left-sideshow small-1 medium-2 large-3 centered columns">
  <h1> </h1>
</div>
<div class="registration-form small-10 medium-8 large-6 centered columns">
  <h3>List your farm:</h3>

  <%= form_for [@user, @farm], url: user_farms_path(@user) do |f| %>
    <div class="field column small-12">
      <% f.label :name, class: "text-input-label" %><br>
      <%= f.text_field :name, class: "text-input-field", placeholder: "Farm Name", autofocus: true %>
    </div>
    <div class="field column small-12">
      <% f.label :email, class: "text-input-label" %><br>
      <%= f.email_field :email, class: "text-input-field", placeholder: "email contact" %>
    </div>
    <div class="field column small-12">
      <% f.label :phone, class: "text-input-label" %><br>
      <%= f.text_field :phone, class: "text-input-field", placeholder: "phone number (like this: 1112223333)"%>
    </div>
    <div class="field column small-12">
      <% f.label :address, class: "text-input-label" %><br>
      <%= f.text_field :address, class: "text-input-field", placeholder: "Street Address" %>
    </div>
    <div class="field column small-12">
      <% f.label :city, "City", class: "text-input-label" %><br>
      <%= f.text_field :city, class: "text-input-field", placeholder: "City" %>
    </div>
    <br>
    <div class="field column small-12">
      <% f.label :state, "State", class: "text-input-label" %><br>
      <%= f.text_field :state, class: "text-input-field", placeholder: "State (like this: VA)" %>
    </div>
    <br>
    <div class="field column small-12">
      <% f.label :zip, "Zip Code", class: "text-input-label" %><br>
      <%= f.text_field :zip, class: "text-input-field", placeholder: "zip code" %>
    </div>
    <br>
    <% f.hidden_field :latitude %>
    <% f.hidden_field :longitude %>
    <div class="actions">
      <%= f.submit "Add your Farm!", id: "submit_button_geocoding", class: "registration-form button round medium" %>
    </div>
  <% end %>
</div>
<div class="left-sideshow small-1 medium-2 large-3 centered columns">
  <h1> </h1>
</div>
