<div class="farm-info small-12 centered columns">
  <div class="farm-details small-5 columns">
    <h1><%= @farm.name %></h1>
    <% if current_user == @farm.user %>
    <div class="small-3 centered columns">
      <%= button_to "Add Produce", new_farm_product_path(@farm), class: "registration-form button round tiny", method: :get %>
    </div>
    <div class="small-3 centered columns">
      <%= button_to "Add Market", new_farm_market_path(@farm), class: "registration-form button round tiny", method: :get %>
    </div>
    <div class="small-3 centered columns">
      <%= button_to "Update Information", edit_user_farm_path(@user, @farm), class: 'registration-form button round tiny', method: :get %>
    </div>
    <div class="small-3 centered columns">
      <%= button_to "Delete Farm", edit_farm_path(@farm), class: 'registration-form button round tiny', method: :get %>
    </div>
    <% end %>
  </div>
  <div class="farm-details small-5 columns">
    <h5>Farmer(s): <%= @farm.user.name %>
    <p>
      <%= @farm.email %><br>
      <%= @farm.address %><br>
      <%= @farm.city %>,
      <%= @farm.state %>
      <%= @farm.zip %>
    </p>
  </div>
</div>
<div class="left-sideshow-info small-5 medium-5 large-5 centered columns">
  <div class="market-info small-5 centered columns">
    <% unless @farm.markets.empty? %>
      <h5><br>
        Market details:<br>
        <% @farm.markets.each do |market| %><br>
          <%= market.day_of_week %>s at:<br><%= market.location %>
          <% end %>
      </h5>
    <% end %>
  </div>
  <div class="market-info small-5 centered columns">
    <% unless @farm.products.empty? %>
      <p>
        <h5>We're loaded down with:</h5><br>
        <% @farm.products.each do |product| %>
          <%= product.item %><br>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
<div id="farm-map" class="farm-info small-12 medium-11 large-5 centered columns"
  data-farm=<%= @farm.name %>
  data-lat=<%= @farm.latitude %>
  data-lng=<%= @farm.longitude %> >
</div>
<div class="right-sideshow small-0 medium-1 large-1 centered columns">
  <h1></h1>
</div>
