<div class="farm-info">
  <div class="farm-title small-5">
    <h1><%= @farm.name %></h1>
  </div>
  <div class="farm-details small-11">
    <p>
      <%= @farm.email %><br>
      <%= @farm.address %><br>
      <%= @farm.city %>,
      <%= @farm.state %>
      <%= @farm.zip %>
    </p>
  </div>
</div>
<div class="left-sideshow-info small-6 medium-6 large-6 centered columns">
  <div class="market-info small-6 centered columns">
    <% unless @farm.markets.empty? %>
      <p>
        Market details:
        <% @farm.markets.each do |market| %><br>
          <%= market.day_of_week %>s <%= market.location %>
          <% end %>
      </p>
    <% end %>
  </div>
  <div class="market-info small-6 centered columns">
    <% unless @farm.products.empty? %>
      <p>
        We're loaded down with:<br>
        <%= @farm.products.first.item %>
      </p>
    <% end %>
  </div>
</div>
<div id="farm-map" class="farm-info small-11 medium-11 large-5 centered columns"
  data-farm=<%= @farm.name %>
  data-lat=<%= @farm.latitude %>
  data-lng=<%= @farm.longitude %> >
</div>
<div class="right-sideshow small-0 medium-1 large-1 centered columns">
  <h1></h1>
</div>
<% if current_user == @user %>
  <%= button_to "Update Information", edit_user_farm_path(@user, @farm), class: 'farm-buttons button expand round meduim', method: :get %>
<% end %>
