<div class="farm-info small-12 centered columns">
  <div class="farm-details small-5 columns">
    <h1><%= @farm.name %></h1>
    <% if current_user == @farm.user %>
    <div class="small-3 centered columns">
      <% if @farm.markets.empty? %>
        <%= button_to "Add Market", new_farm_market_path(@farm), class: "registration-form button round tiny", method: :get %>
      <% else %>
        <%= button_to "Edit My Markets", farm_markets_path(@farm), class: "registration-form button round tiny", method: :get %>
      <% end %>
    </div>
    <div class="small-3 centered columns">
      <%= button_to "Update Information", edit_user_farm_path(@user, @farm), class: 'registration-form button round tiny', method: :get %>
    </div>
    <div class="small-3 centered columns">
      <%= button_to "Delete Farm", edit_farm_path(@farm), class: 'registration-form button round tiny', method: :get %>
    </div>
    <% end %>
  </div>
</div>
  <div class="left-sideshow-info small-9 medium-6 large-3 centered columns">
    <div class="market-info small-12  centered columns">
      <% @markets.each do |market| %>
        <strong>Double check your market details:</strong>
        <strong>Day:</strong> <%= market.day_of_week %><br>
        <strong>Location:</strong> <%= market.location %><br>
        <strong>Map address:</strong><br><%= market.address %><br>
        <%= market.city %>, <%= market.state %> <%= market.zip %><br>
        <br>
        <div class="">
          <%= button_to "Edit Market", edit_farm_market_path(@farm, market), class: 'registration-form button round tiny', method: :get %>
        </div>
        <div class="">
          <%= button_to "Delete Market", farm_market_path(@farm, market), class: 'registration-form button round tiny', method: :get %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="farm-details small-5 columns">

  <% @markets.each do |market| %>
    <p><strong><%= market.day_of_week %>s<strong><br>
    <% if market.full_address.length > 25 %>
      <%= link_to "#{market.location}", farm_market_path(@farm, market)  %></p>
    <% else %>
      <%= market.location %>
    <% end %>
  <% end %>
</div>
