<div class="farm-info small-12 centered columns">
  <div class="farm-details small-5 columns">
    <h1><%= @farm.name %></h1>
  </div>
</div>
<div class="left-sideshow-info small-9 medium-6 large-3 centered columns">
  <div class="market-info small-12  centered columns">
    <p>Where is this mythical <%= @market.location %> of which you speak?<br> <strong>Check the map, yo!</strong><br>And remember, they will be there on <%=@market.day_of_week%>.</p>
  </div>
</div>
<div class="map-container small-12 medium-5 large-4 centered columns">
  <div id="market-map" class="market-info"
    data-market=<%= @market.location %>
    data-lat=<%= @market.latitude %>
    data-lng=<%= @market.longitude %> >
  </div>
</div>
